# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
desktop.ini
